$ship-border: 3px;
$ship-border-color: #284BC0;

$ship-hit-background: pink;

table.battlefield {
  tr {
    th, td {
      text-align: center;
    }

    th {
      border: none;
      font-weight: lighter;
    }

    td {
      border: 1px #0275d8 solid;

      &.move {
        cursor: move;
        background-color: black;
      }

      &.ship {
        background-color: #C0CDF9;
      }

      &.ship-hit {
        background-color: $ship-hit-background;
        content: " \2219 ";
      }

      &.miss, &.ship-hit {
        cursor: not-allowed;
      }

      &.unknown {
        cursor: pointer;

        &:hover {
          background-color: lightblue;
        }
      }

      &.ship-border-right {
        border-right: $ship-border $ship-border-color solid;
      }

      &.ship-border-left {
        border-left: $ship-border $ship-border-color solid;
      }

      &.ship-border-top {
        border-top: $ship-border $ship-border-color solid;
      }

      &.ship-border-bottom {
        border-bottom: $ship-border $ship-border-color solid;
      }
    }
  }
}
